:root {
    --black: #000;
    --white: #FFF;
    --blue: #157BFB;
    --purple: #BB86FC;
    --main-color: #157BFB;
    --accent-color: #157BFB;

    --primary-color: #157BFB;
    --background: #FFF;
    --foreground: #FFF;
    --text-color: #232323;
}

.dark:root {
    --primary-color: #BB86FC; //#BB86FC;
    --background: #1E1E1E;
    --foreground: #272727;
    --text-color: #FFF;
}

html {
    font-family: $font-roboto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    box-sizing: border-box;
    transition: background-color $base-transition-time ease-in-out;
}

body {
    position: relative;
    //height: 100%;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
    background: var(--background);
}

h1, h2, h3, h4, h5, p, a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::placeholder {
        letter-spacing: -0.02em;
    }
}

button {
    background: transparent;
    border: none;
    font-family: $font-roboto;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

svg {
    transition: fill $base-transition-time ease-in-out,
        stroke $base-transition-time ease-in-out;
}

[data-barba="container"] {
    position: relative;
}

.object-fit {
    &-cover {
        object-fit: cover;
    }
}

.barba-leave-active,
.barba-enter-active {
    transition: opacity .3s ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}

[data-modal] {
    cursor: pointer;
}

._loading-data .skeleton {
    opacity: 1;
    background-color: var(--background);
    overflow: hidden;
    fill: none;
    svg {
        fill: none;
    }
    color: transparent;
    pointer-events: none;
    border-radius: rem($spacing-10);
    @include media-breakpoint-up(md) {
        border-radius: rem($spacing-12);
    }
    @include media-breakpoint-up(fhd) {
        padding: vw($spacing-20);
        border-radius: vw($spacing-16);
    }
}

._loading-data .skeleton, .skeleton-image {
    background-size: rem($spacing-30) 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0; 
    animation: shine 1.5s ease infinite;
}

.dark {
    ._loading-data .skeleton, .skeleton-image {
        background-image: linear-gradient(
            90deg, 
            rgba(#1E1E1E, 0), 
            rgba(#FFF, 0.5),
            rgba(#1E1E1E, 0)
        );
    }
}
.light {
    ._loading-data .skeleton, .skeleton-image {
        background-color: #DDD;
        background-image: linear-gradient(
            90deg, 
            rgba(#FFF, 0), 
            rgba(#FFF, 0.5),
            rgba(#FFF, 0)
        );
    }
}

@keyframes shine {
	to {
		background-position: right -40px top 0;
	}
}

