.event-card {
    $root: &;

    position: relative;
    &__bg {
        position: relative;
        overflow: hidden;
        border-radius: rem($spacing-10);
        @include media-breakpoint-up(md) {
            border-radius: rem($spacing-12);
        }
        @include media-breakpoint-up(fhd) {
            border-radius: vw($spacing-16);
        }

        &:hover {
            img {
                transform: scale(1.3);
            }
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: vw(220, xs);
            transition: transform $base-transition-time ease-in-out;
            @include media-breakpoint-up(md) {
                height: vw(220, md);
            }
            @include media-breakpoint-up(xl) {
                height: vw(200, xl);
            }
            @include media-breakpoint-up(fhd) {
                height: vw(300);
            }
        }
    }

    &__picture {
        display: flex;
    }

    &__copy {
        position: absolute;
        top: rem($spacing-12);
        left: rem($spacing-12);
        @include media-breakpoint-up(fhd) {
            top: vw($spacing-20);
            left: vw($spacing-20);
        }

        &::after {
            pointer-events: none;
            position: absolute;
            left: 120%;
            
            @extend .text-3;
            content: 'Скопировано';
            color: rgba($white, .8);

            padding: rem($spacing-8) rem($spacing-16);
            background-color: rgba($text-color, .4);
            border-radius: $spacing-100;

            opacity: 0;
            visibility: hidden;
            transition: visibility $base-transition-time, opacity $base-transition-time;
        }
    }

    &__copy._tooltip-show {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        @extend .h-3;
        transition: color $base-transition-time;
    }

    &__subtitle {
        @extend .text-2;
        transition: color $base-transition-time;
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        @extend .text-2;
        opacity: .6;
        transition: opacity $base-transition-time, color $base-transition-time;
        counter-reset: li;
        list-style-type: disc;
    }

    &__info-element {
        counter-increment: step-counter;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        &:not(:first-child) {
            margin-left: rem($spacing-12);
            @include media-breakpoint-up(fhd) {
                margin-left: vw($spacing-20);
            }
            &::before {
                content: counter(step-counter, disc);
                margin-right: rem($spacing-12);
                @include media-breakpoint-up(fhd) {
                    margin-right: vw($spacing-20);
                }
            }
        }
        &:not(:last-child) {
            white-space: nowrap;
        }
        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__description {
        color: var(--text-color);
    }

    &__description, &__subtitle, &__info {
        margin-top: rem($spacing-8);
        @include media-breakpoint-up(xl) {
            margin-top: rem($spacing-12);
        }
        @include media-breakpoint-up(fhd) {
            margin-top: vw($spacing-20);
        }
    }

    &.swiper-slide {
        height: 100%;
        #{$root}__bg {
            border-radius: unset;
            &:hover {
                img {
                    transform: initial;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: $shadow-gradient;
                opacity: .8;
            }
        }
        #{$root}__title {
            @extend .h-1;
        }
        #{$root}__description {
            color: $white;
            position: absolute;
            bottom: rem($spacing-12);
            left: rem($spacing-12);
            right: rem($spacing-120);
            @include media-breakpoint-up(md) {
                bottom: rem($spacing-20);
                left: rem($spacing-20);
                right: rem($spacing-20);
            }
            @include media-breakpoint-up(xl) {
                bottom: rem($spacing-28);
                left: rem($spacing-28);
                right: rem($spacing-28);
            }
            @include media-breakpoint-up(fhd) {
                bottom: vw($spacing-40);
                left: vw($spacing-40);
                right: rem($spacing-40);
            }
        }
        #{$root}__subtitle, #{$root}__info {
            @extend .h-4;
        }
        #{$root}__info {
            opacity: 1;
        }
        #{$root}__copy {
            background-color: rgba($white, .15);
            top: rem($spacing-12);
            left: rem($spacing-12);
            width: rem(36);
            height: rem(36);
            @include media-breakpoint-up(md) {
                top: rem($spacing-20);
                left: rem($spacing-20);
            }
            @include media-breakpoint-up(xl) {
                width: rem(40);
                height: rem(40);
                top: rem($spacing-28);
                left: rem($spacing-28);
            }
            @include media-breakpoint-up(fhd) {
                width: vw(60);
                height: vw(60);
                top: vw($spacing-40);
                left: vw($spacing-40);
            }

            &:hover {
                background-color: rgba($white, .3);
            }

            svg {
                // TODO - fill или stroke вставить
                width: rem(17);
                height: rem(17);
                @include media-breakpoint-up(xl) {
                    width: rem(19);
                    height: rem(19);
                }
                @include media-breakpoint-up(fhd) {
                    width: vw(29);
                    height: vw(29);
                }
            }
        }
    }
}