include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/sections/events-grid/events-grid
include ../../components/blocks/event-card/event-card
include ../../components/ui/button-rounded/button-rounded
include ../../components/sections/lead-section/lead-section
include ../../components/blocks/events-slider/events-slider
include ../../components/ui/slider-navigation/slider-navigation
include ../../components/ui/switcher/switcher
include ../../components/common/theme-switcher/theme-switcher
