include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/sections/events-grid/events-grid
include ../../components/blocks/event-card/event-card
include ../../components/ui/button-rounded/button-rounded
